<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <title>Town Gallery</title>
        <meta name="author" content="~tweska">
        <link rel="stylesheet" href="static/style.css">
    </head>
    <body>
        <h1>Welcome to the Tilde.Town Gallery!</h1>
        <p><a href="index.html">index</a></p>
        <p><a href="A.html">A</a> <a href="B.html">B</a> <a href="C.html">C</a> <a href="D.html">D</a> <a href="E.html">E</a> <a href="F.html">F</a> <a href="G.html">G</a> <a href="H.html">H</a> <a href="I.html">I</a> <a href="J.html">J</a> <a href="K.html">K</a> <a href="L.html">L</a> <a href="M.html">M</a> <a href="N.html">N</a> <a href="O.html">O</a> <a href="P.html">P</a> <a href="Q.html">Q</a> <a href="R.html">R</a> <a href="S.html">S</a> <a href="T.html">T</a> <a href="U.html">U</a> <a href="V.html">V</a> <a href="W.html">W</a> <a href="X.html">X</a> <a href="Y.html">Y</a> <a href="Z.html">Z</a> <a href="other.html">?</a></p>
        <p class="content">Hello and welcome to the Town Gallery! This tool was
            first featured on
            <a href="https://tilde.club/~tweska/gallery">tilde.club</a>
            and after a rewrite, it's now also available here!
        </p>
        <p class="content">
            All pages are ordered alphabetically, you can click one of the
            characters in the menu above to see all pages belonging to users
            with names starting with the coresponding character.
        </p>
        <p class="content">
            Also checkout the
            <a href="http://tilde.club/~tweska/gallery">Club Gallery</a> and
            <a href="http://tilde.cafe/~tweska/gallery">Cafe Gallery</a>!
        </p>
        <p class="content">
            You can message <code>/msg tweska</code> on IRC if you have
            problems or want to give feedback. I am active on both the
            Tildeverse IRC and Town IRC. The source code of the used scripts
            are also available on
            <a href="http://github.com/Tweska/TildeverseGallery">GitHub</a>.
        </p>
        <p>Made by <a href="http://tilde.club/~tweska">~tweska</a></p>
        <a href="/"><img src="static/tildetown.gif"></a>
    </body>
</html>
